 
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro";
}
section{
  margin-bottom: 20px;
}
.home {
  
  background: url(./images/headphones_hero_1.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 200px;
}

nav img {
  width: 161px;
  height: 32px;
}

ul {
  display: flex;
  justify-content: space-between;
  gap: 41px;
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: #ff6565;
}


.home-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    margin: 320px 381px 0px 381px ;
    line-height: 26px;
    
}

.home-description h1 {
    margin: 0 30px;
    font-size: 32px;
    font-weight: bold;
}

.home-description h4{
    margin: 0 141px;
      font-size: 16px;
    font-weight: bold;
}

.home-description button{
    width: 162px;
    height: 44px;
    border-radius: 22px;
    background-color: #ff6565;
    color: white;
    padding: 13px 31px;
    margin: 40px 0 65px;
    font-size: 14px;
    font-weight: bold;
}

.home-description button:hover{
    opacity: 0.9;
}

/* Mobile veiw */
@media (max-width: 480px) {
  nav {
    display: flex;
    justify-content: space-between;
  }

  nav ul {
    display: none;
  }
  .menu {
    width: 20px;
    height: 14px;
  }
}

/* Tab veiw */
@media (max-width: 768px) {
  nav {
    display: flex;
    justify-content: space-between;
    margin: 30px 67px;
  }
  
  .home{
    margin: 372px 66px ;
  }

}

@media (min-width: 480px) {
  .menu {
    display: none;
  }
}


/* what we do section styling */

.what-we-do{
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.description{
  width: 637px;
  height: 184px;
  margin: 100px 382px;
  line-height: 26px;
}

.description h1 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 40px;
}

.services{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
 line-height: 26px;
}

.item img{
  margin: 0 56px 24px 56px;
}
.item h5{
  font-size:18px;
  font-weight: 600;
  margin-bottom: 13px;
}



/* our results styling */

.results{
  background: url(./images/headphones_hero_2.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  color: white;
 font-family: "Source Sans Pro";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.results-description{
  width: 637px;
  height: 184px;
  margin: 100px 382px;
  line-height: 26px;
}

.results-description h1 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 40px;
}

.results-services{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  line-height: 26px;
}
.results-item{
    position: relative;
}
.results-item img{
   width: 210px;
   height: 190px;

}
.results-item h3{
  font-size:46px;
  font-weight: bold;
  margin-bottom: 13px;
}
.results-item p{
   
    font-size: 14px;
}

    

    .text-overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); /* Center text horizontally and vertically */
    }